@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html{
    font-family: 'Raleway',sans-serif;
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;

}